body {
    width: 100vw;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif, Arial, Helvetica;
    overflow-x: hidden;
    cursor: default;
}

/* .myLogo {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 16px;
} */

.myLogo:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block: 0.5px solid #ffffff8f;
    background-color: #1A1A1A;
}

#arrow-down:hover {
    cursor: pointer;
}

#logo {
    width: 160px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-inline: 16px;
}

#logoPro,
#logoAmateur {
    width: -webkit-fill-available;
}

#logoPro:hover,
#logoAmateur:hover {
    cursor: pointer;
}

#logoPro {
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoAmateur {
    height: 70px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 148px;
    border-bottom: 0.5px solid #ffffff8f;
    background-color: #1A1A1A;
}

.sports {
    display: flex;
}

.sporticon {
    width: 24px;
}

.search {
    margin-right: 16px;
    background-color: #1A1A1A;
    border: none;
}

.goBack {
    border: none;
    background-color: #000000;
}

.arrow-icon {
    width: 32px;
}

.search-icon {
    width: 24px;
}

.football-btn,
.basketball-btn,
.americanfootball-btn,
.mma-btn {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    font-size: 16px;
    border: none;
    background-color: #1A1A1A;
    color: #ffffff;
}

.americanfootball-btn,
.mma-btn {
    background-color: #ffffff1c;
}

.americanfootball-btn:hover,
.mma-btn:hover {
    cursor: default;
}

#calendar-slider {
    width: 100%;
    display: flex;
    justify-content: start;
    overflow-x: scroll;
}

.date-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
    border: none;
    border-bottom: 0.5px solid #ffffff8f;
    background-color: #1A1A1A;
    color: #ffffff;
}

.container,
#all {
    min-height: 71px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-bottom: 0.5px solid #ffffff8f;
    background-color: #1A1A1A;
}

#all {
    min-height: unset;
    justify-content: start;
    padding: 0;
}

/* #all:hover {
    cursor: pointer;
} */

#numberOfAll {
    width: -webkit-fill-available;
    min-height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.numberOfAll {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 0.5px solid #ffffff8f;
    border-radius: 4px;
    background-color: #000000;
}

.allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#locked {
    position: absolute;
    display: flex;
    width: -webkit-fill-available;
    height: 103px;
    background-color: #ffffff1c;
}

.lock {
    width: 24px;
}

.container:hover {
    cursor: pointer;
}

.logo {
    width: 32px;
    padding: 10px;
}

.goBackContainer,
.topFiveContainer,
.aToZContainer {
    padding: 8px;
    padding-left: 16px;
    font-size: 13px;
    font-weight: bolder;
    border-bottom: 0.5px solid #ffffff8f;
    background-color: #000000;
}

#goBackContainer {
    display: none;
    padding: 0;
    padding-left: 6px;
}